<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.luckman212.hnsearch</string>
	<key>connections</key>
	<dict>
		<key>2D7BA943-1EC0-417F-9613-DB62885AB143</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A70ACB4B-9DC9-48F9-88EA-11E371CDAD05</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>692AD950-69C1-4E86-A97E-829A7AB7AA68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>930D190B-B29B-4428-AC57-889B720CDAD9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B700F3A-B522-46A3-AA13-F64B684F0ADF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4535ADE-EC18-4A1D-A1CC-F1403AD3514B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>930D190B-B29B-4428-AC57-889B720CDAD9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8748608C-8096-488A-8401-2ABF8A73F80E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>08D67EFF-AB76-40AE-9377-1872F50C37D3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1A0793F1-B3D2-49A5-8717-61299CD8050F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F0D3CB7C-8EAA-409D-BFA7-57EA5840BA51</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E0BB834D-7E7E-42F5-BC31-AA3CC1FA6FA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>993E429B-1412-4C7E-8DD8-0EE8796FE7E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCE498D9-9483-41B0-A333-A39DD0422735</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BB3CA508-CCE3-445D-A1E3-354B6090F294</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7B700F3A-B522-46A3-AA13-F64B684F0ADF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8A6A6914-EC59-4CA3-8573-429273E3CD5C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7B700F3A-B522-46A3-AA13-F64B684F0ADF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2BF8D4A4-05CD-4AFC-9F1C-6372CA64E49A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2D7BA943-1EC0-417F-9613-DB62885AB143</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A70ACB4B-9DC9-48F9-88EA-11E371CDAD05</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>692AD950-69C1-4E86-A97E-829A7AB7AA68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4535ADE-EC18-4A1D-A1CC-F1403AD3514B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8748608C-8096-488A-8401-2ABF8A73F80E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>BB63C971-D149-4E93-BD12-B0F28E6B1908</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>993E429B-1412-4C7E-8DD8-0EE8796FE7E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>EC97660E-6CA8-4528-8EA5-0E253123FFE7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB63C971-D149-4E93-BD12-B0F28E6B1908</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FCE498D9-9483-41B0-A333-A39DD0422735</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E8B15E3-901F-4AEB-A16A-4E207875C100</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>luckman212</string>
	<key>description</key>
	<string>Search Hacker News</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>HN Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>entrypoint</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>8E8B15E3-901F-4AEB-A16A-4E207875C100</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>4</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>H</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EC97660E-6CA8-4528-8EA5-0E253123FFE7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>FCE498D9-9483-41B0-A333-A39DD0422735</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>entrypoint</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>8748608C-8096-488A-8401-2ABF8A73F80E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>helper.sh</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>usecustominputarg</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B4535ADE-EC18-4A1D-A1CC-F1403AD3514B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:HNS_ACTION}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>requeue</string>
						<key>outputlabel</key>
						<string>requeue</string>
						<key>uid</key>
						<string>BB3CA508-CCE3-445D-A1E3-354B6090F294</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:HNS_ACTION}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>clear_cache</string>
						<key>outputlabel</key>
						<string>clear_cache</string>
						<key>uid</key>
						<string>8A6A6914-EC59-4CA3-8573-429273E3CD5C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:HNS_ACTION}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>install_cli</string>
						<key>outputlabel</key>
						<string>install_cli</string>
						<key>uid</key>
						<string>2BF8D4A4-05CD-4AFC-9F1C-6372CA64E49A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>search</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>993E429B-1412-4C7E-8DD8-0EE8796FE7E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:HNS_KW_TRIGGER}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>entrypoint.py</string>
				<key>subtext</key>
				<string>Enter a search term, then press ↵</string>
				<key>title</key>
				<string>Search Hacker News</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>custominputarg</key>
				<string>{var:HNS_QSEARCH}</string>
				<key>externalid</key>
				<string>entrypoint</string>
				<key>usecustominputarg</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BB63C971-D149-4E93-BD12-B0F28E6B1908</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>7B700F3A-B522-46A3-AA13-F64B684F0ADF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>{var:HNS_SPINNER_MSG}</string>
				<key>script</key>
				<string># look into possibly using Alfred 5.5 native JSON caching feature
# need to figure out a way to override it when desired
# https://www.alfredapp.com/help/workflows/inputs/script-filter/json/#cache

if [[ -e $SCRIPT_FILTER_JSON ]] ; then
  IFS=$'\t' read -r last_search_hash last_ts &lt; &lt;(
    jq -r '.variables | [ .search_hash, .completed ] | @tsv' "$SCRIPT_FILTER_JSON"
  )
  now=$(date +%s)
  if [[ $search_hash == "$last_search_hash" ]] &amp;&amp;
     (( now - last_ts &lt; ${HNS_CACHE_RESULTS:-60} )) ;
  then
    cat "$SCRIPT_FILTER_JSON"
    exit
  fi
fi

./hn.sh "$HNS_ACTION"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>692AD950-69C1-4E86-A97E-829A7AB7AA68</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:HNS_ACTION}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>retry</string>
						<key>outputlabel</key>
						<string>retry</string>
						<key>uid</key>
						<string>08D67EFF-AB76-40AE-9377-1872F50C37D3</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:HNS_ACTION}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>copy</string>
						<key>outputlabel</key>
						<string>copy</string>
						<key>uid</key>
						<string>F0D3CB7C-8EAA-409D-BFA7-57EA5840BA51</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>browse</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>930D190B-B29B-4428-AC57-889B720CDAD9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1A0793F1-B3D2-49A5-8717-61299CD8050F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>search</key>
					<string>{var:search.stripnonalphanumeric}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2D7BA943-1EC0-417F-9613-DB62885AB143</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "",
    "variables" : {
      "search_clean_DOES_NOT_WORK_YET": "{query.stripnonalphanumeric}",
      "json_out": "{const:alfred_workflow_cache}/results.json",
      "SCRIPT_FILTER_JSON": "{const:alfred_workflow_cache}/alfred_sf.json",
      "JQ_ERRORS": "{const:alfred_workflow_cache}/jq_errors.log"
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>A70ACB4B-9DC9-48F9-88EA-11E371CDAD05</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>The above ArgsVars object is needed until https://www.alfredforum.com/topic/21790-dynamic-placeholders-transforms-not-working-in-json-config-object/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>3B277C71-F0BF-404B-9287-334D8B4B88B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>How to set up this ScriptFilter so backspacing all the way does not trigger the script to rerun?

https://www.alfredforum.com/topic/21807-script-filter-alfred-filters-results-any-way-to-avoid-re-running-the-script-when-the-user-backspaces-all-the-way-to-the-start-of-alfreds-input-box/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>849173C2-1266-4123-A352-C4417E9FFADA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E0BB834D-7E7E-42F5-BC31-AA3CC1FA6FA6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>![](./icon_64.png)

# HN Search

Search [Hacker News](https://news.ycombinator.com) (Y Combinator) and open articles or comment pages.

&gt; **N.B.** This is the first release! It may contain bugs or edge cases that I didn't plan for or encounter during my testing. Please [report any issues](https://github.com/luckman212/alfred-hnsearch/issues) you experience!

## Installation / Dependencies

Install the workflow as you typically would, by double-clicking the **HNSearch.alfredworkflow** file.

Once installed, you can configure the settings using Alfred's standard Configure Workflow button. A few small dependencies will be automatically installed if they're not already loaded on your system. Currently, the dependencies are:

- `jq` for parsing and handling JSON inside some of the scripts
- `fzf` (for displaying nice menus in Terminal)
- `sponge` (part of moreutils) for efficiently aggregating the paginated API results

## Usage

Activate the workflow using your preferred trigger or hotkey, and follow the prompts. Type a search query and choose the kind of search you want to execute (points, date or author):

![](./img/screen1.png)

You can temporarily override the **Minimum Points** setting by adding a suffix in the form of `|&lt;# of points&gt;`. For example, to search for stories about *Steve Jobs* that have at least **1500** points:

![](./img/screen5.png)

Once results are displayed, you can further filter the items by typing additional keywords in Alfred. The **Title**, **Author**, **URL**, and **Date** fields will be used for matching.

![](./img/screen2.png)

In the subtitle, you will see the number of points, the user who submitted the story, and the date of submission.

## Modifier Keys

You can use modifier keys while a story is selected to display more info or take additional actions:

- &lt;kbd&gt;⌃CTRL&lt;/kbd&gt; copy item as Markdown link
- &lt;kbd&gt;⌥OPT&lt;/kbd&gt; show/toggle opening alternate URL (comments/article)
- &lt;kbd&gt;⌘CMD&lt;/kbd&gt; show URL
- &lt;kbd&gt;⇧SHIFT&lt;/kbd&gt; use QuickLook to preview page (note: this can be slow)

## Cache and History

Results that are fetched via the API are cached for a few minutes to speed up filtering and repeat searches.

By default, searches that you execute will be saved in a small history file for convenience. The default is to retain the last `3` searches. You can increase or disable this if desired. Set **History Size** to `0` to disable.

When you activate the workflow, items from the history are shown, and can be re-executed by simply pressing &lt;kbd&gt;ENTER&lt;/kbd&gt;. Alternately, you can **edit** the search by holding the &lt;kbd&gt;⌥OPTION&lt;/kbd&gt; key while actioning the history item.

![](img/screen3.png)

## Commandline

The workflow comes with a companion CLI tool for searching from Terminal.

Most configuration variables/settings are shared between Alfred and the commandline version, so you can alternate between them.

When you first run the workflow, if the CLI is not installed, an option to install it will be shown:

![](./img/screen0.png)

A symlink, named the same as your keyword trigger, will be created in `/usr/local/bin` by default. You can configure a different target directory in the Workflow configuration if needed. If you've defined multiple trigger keywords (e.g. `hn||hns`) then the symlink name is derived from the FIRST keyword.

To see the full help/usage, run `hn --help`

```text
Query Hacker News — https://news.ycombinator.com
  via Algolia API — https://hn.algolia.com/api

usage: hn [opts] [title]
    -p,--popularity    sort by points (if omitted, sort by date)
    -t,--type &lt;type&gt;   type: story (default), comment, show_hn, ask_hn - see docs
    -m,--min &lt;pts&gt;     minimum points (default: 10)
    -u,--user &lt;user&gt;   search by username aka author
    -x,--hits &lt;hits&gt;   max results (default: 400)
    -n,--no-browse     don't open in browser
    -y,--allow-typos   fuzzy matching on misspelled words
    -r,--url           restrict matching to URL
    --nohistory        do not save search to history
    --noignore         do not consider ignorelist
    --lib [args]       perform action using hnlib Python library

    selected items will be:
      - output to the screen
      - opened in browser (unless -n flag is passed)
      - copied to the pasteboard in Markdown format

    tip: perform multi-word searches by quoting, exclude words with `-` e.g.
      hn 'Microsoft acquire -Blizzard'
```

## Configuration

Below is a sample of the configuration options available. These are the defaults.

![](img/screen4.png)

An Ignorelist (exclusion) feature is available to hide unwanted items from your search results. Separate the terms with either commas or newlines.

![](img/screen6.png)

## Additional Environment Variables

You probably don't need to change these...

- `HNS_SPINNER_MSG`
- `HNS_SPINNER_REFRESH`: interval for the realtime results display to update)
- `HNS_CACHE_RESULTS` (search results will be instantly recalled for this many seconds, set to `0` to disable)

## Icon

The main icons were adapted from https://www.pixelresort.com/project/hackernews. If there is any issue with this, please contact me.</string>
	<key>uidata</key>
	<dict>
		<key>1A0793F1-B3D2-49A5-8717-61299CD8050F</key>
		<dict>
			<key>xpos</key>
			<real>905</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>2D7BA943-1EC0-417F-9613-DB62885AB143</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>strip non-alpha</string>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>3B277C71-F0BF-404B-9287-334D8B4B88B9</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>click me</string>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>692AD950-69C1-4E86-A97E-829A7AB7AA68</key>
		<dict>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>7B700F3A-B522-46A3-AA13-F64B684F0ADF</key>
		<dict>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>849173C2-1266-4123-A352-C4417E9FFADA</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>click me</string>
			<key>xpos</key>
			<real>630</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>8748608C-8096-488A-8401-2ABF8A73F80E</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>no vars</string>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>8E8B15E3-901F-4AEB-A16A-4E207875C100</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>pass vars</string>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>930D190B-B29B-4428-AC57-889B720CDAD9</key>
		<dict>
			<key>xpos</key>
			<real>760</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>993E429B-1412-4C7E-8DD8-0EE8796FE7E6</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>A70ACB4B-9DC9-48F9-88EA-11E371CDAD05</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>set vars</string>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>B4535ADE-EC18-4A1D-A1CC-F1403AD3514B</key>
		<dict>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>BB63C971-D149-4E93-BD12-B0F28E6B1908</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>E0BB834D-7E7E-42F5-BC31-AA3CC1FA6FA6</key>
		<dict>
			<key>xpos</key>
			<real>885</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>EC97660E-6CA8-4528-8EA5-0E253123FFE7</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>FCE498D9-9483-41B0-A333-A39DD0422735</key>
		<dict>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>hn||hns</string>
				<key>placeholder</key>
				<string>hn||hns</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword Trigger</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>HNS_KW_TRIGGER</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>comments</string>
				<key>pairs</key>
				<array>
					<array>
						<string>HN Comments</string>
						<string>comments</string>
					</array>
					<array>
						<string>Article</string>
						<string>article</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Page to open by default when actioning an item (⌘ to invert)</string>
			<key>label</key>
			<string>Default URL</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>HNS_URL_ACTION</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>10</string>
				<key>placeholder</key>
				<string>10</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Articles with fewer than this many points will not be shown</string>
			<key>label</key>
			<string>Points</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>HNS_POINTS</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>400</integer>
				<key>markercount</key>
				<integer>20</integer>
				<key>maxvalue</key>
				<integer>1000</integer>
				<key>minvalue</key>
				<integer>50</integer>
				<key>onlystoponmarkers</key>
				<true/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Limit results to this many articles</string>
			<key>label</key>
			<string>Max Hits</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>HNS_MAX_HITS</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>100</integer>
				<key>markercount</key>
				<integer>8</integer>
				<key>maxvalue</key>
				<integer>400</integer>
				<key>minvalue</key>
				<integer>50</integer>
				<key>onlystoponmarkers</key>
				<true/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Results to fetch from the API in a single query</string>
			<key>label</key>
			<string>Page Size</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>HNS_PAGESIZE</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>20</integer>
				<key>markercount</key>
				<integer>12</integer>
				<key>maxvalue</key>
				<integer>60</integer>
				<key>minvalue</key>
				<integer>5</integer>
				<key>onlystoponmarkers</key>
				<true/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>After this many seconds, abort if the results weren't fetched</string>
			<key>label</key>
			<string>Timeout</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>HNS_MAX_TIME</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>/usr/local/bin</string>
				<key>placeholder</key>
				<string>/usr/local/bin</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Path to install the commandline version of the tool</string>
			<key>label</key>
			<string>Command Path</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>HNS_TOOL_PATH</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>3</string>
				<key>placeholder</key>
				<string>3</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Number of searches to save in the history (0=disable)</string>
			<key>label</key>
			<string>History Size</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>HNS_HIST_SIZE</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>9</integer>
			</dict>
			<key>description</key>
			<string>List of strings you want excluded from results. Based on case-insensitive match in Title or URL. Separate by commas or newlines.</string>
			<key>label</key>
			<string>Ignorelist</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>HNS_IGNORELIST</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>HNS_CACHE_RESULTS</key>
		<string>120</string>
		<key>HNS_SPINNER_MSG</key>
		<string>Calibrating Flux Capacitor</string>
		<key>HNS_SPINNER_REFRESH</key>
		<string>0.25</string>
	</dict>
	<key>version</key>
	<string>1.0.3</string>
	<key>webaddress</key>
	<string>https://github.com/luckman212/alfred-hnsearch</string>
</dict>
</plist>
